<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title">
          Dashboard
        </h3>
        <p class="sub-header-text">
          Home - Dashboard
        </p>
      </div>
    </div>
  </div>
  <!-- END: Subheader -->
  <div class="m-content dashboard-section">
    <!--Begin::Section-->

    <!--End::Section-->  <!--Begin::Section-->
    <!-- <div class="row">
      <div class="col-xl-6">
        begin:: Widgets/Tasks
        <div class="m-portlet m-portlet--full-height">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 style="padding-top: 5px">
                  Welcome to ZehnCare Visit Platforms
                </h3><br>
                <p>
                  Zehncare Visit Platforms is the nation’s industry leader in providing innovative software solutions to home healthcare agencies. Our company’s primary focus is to create a foundation of unparalleled service and technology that empowers our clients to operate their businesses efficiently while improving patient care.
                </p>
              </div>
            </div>
          </div>
        </div>
        end:: Widgets/Tasks
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 col-p5">
          <div class="four-equal-section">
            <div class="green-div">
              <img src="./assets/images/icons/dollar.svg">
            </div>
            <div class="text-right">
              Revenue
              <span>$3,245</span>
            </div>
            <p>
              <img src="./assets/images/icons/stop-watch.svg">
              Last 24 Hours
            </p>
          </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 col-p5 xs-mT30">
          <div class="four-equal-section">
            <div class="blue-div">
                <img src="./assets/images/icons/multiple-users.svg">
            </div>
            <div class="text-right">
              Client
              <span>1,486</span>
            </div>
            <p>
              <img src="./assets/images/icons/arrow-up.svg">
              Satisfied clients
            </p>
          </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 col-p5 sm-mT30 xs-mT30">
          <div class="four-equal-section">
            <div class="orange-div">
              <img src="./assets/images/icons/doctor.svg">
            </div>
            <div class="text-right">
              Care Giver
              <span>200+</span>
            </div>
            <p>
              <img src="./assets/images/icons/calendar.svg">
              Add new care giver on 17th May,2018
            </p>
          </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 col-p5 sm-mT30 xs-mT30">
          <div class="four-equal-section">
              <div class="red-div">
                <img src="./assets/images/icons/smiling.svg">
              </div>
              <div class="text-right">
                Completed Tasks
                <span>198</span>
              </div>
              <p>
                <img src="./assets/images/icons/thumbs-up.svg">
                Last care giver performance
              </p>
          </div>
      </div>
    </div>

    <div class="row mT10">
      <div class="col-sm-12 col-p5">
        <div class="zencare-info">
          <div>
            <div class="text-heading">Profit from Care Giver</div>
            <p>
              Avergae weekly profit
              <span class="green-text">$17,800</span>
            </p>
          </div>
          <div>
            <div class="text-heading">Appointments</div>
            <p>
              Weekly points appointments
              <span class="blue-text">+1,800</span>
            </p>
          </div>
          <div>
            <div class="text-heading">Delay/Canceled Appointments</div>
            <p>
              Weekly points appointments
              <span class="red-text">-27.49%</span>
            </p>
          </div>
        </div>
        <div class="app-graph">
          <div>
            <div class="text-heading">Daily Appointments</div>
            <p>Updated 4 minutes ago</p>
            <div>
              paste graph here...
            </div>
            <!-- <div *ngIf="data">
              <p-chart type="doughnut" [data]="data"></p-chart>
            </div> -->
          </div>
        </div>
        <div class="profit-share">
          <div>
            <div class="text-heading">Profit Share</div>
            <p>Profit share between care giver</p>
            <div>
              <p-chart type="doughnut" [data]="data"></p-chart>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mT10 pR10 pL10">
      <div class="col-sm-12 p0">
        <div class="active-care-giver">
          <p class="heading-text">Top Active Care Giver</p>
          <div class="media">
            <div class="media-left media-middle">
              <img src="./assets/images/profile-images/no-avatar-female.png" class="media-object" >
            </div>
            <div class="media-body">
              <h4 class="media-heading">John Doe</h4>
              <p>Lorem ipsum...</p>
            </div>
          </div>
          <div class="media">
            <div class="media-left media-middle">
              <img src="./assets/images/profile-images/no-avatar-female.png" class="media-object" >
            </div>
            <div class="media-body">
              <h4 class="media-heading">John Doe</h4>
              <p>Lorem ipsum...</p>
            </div>
          </div>
          <div class="media">
            <div class="media-left media-middle">
              <img src="./assets/images/profile-images/no-avatar-female.png" class="media-object" >
            </div>
            <div class="media-body">
              <h4 class="media-heading">John Doe</h4>
              <p>Lorem ipsum...</p>
            </div>
          </div>
        </div>
        <div class="recent-appointments">
          <p class="heading-text">Recent Appointments</p>
          <div class="media">
            <div class="media-left media-middle">
              <img src="./assets/images/profile-images/no-avatar-female.png" class="media-object" >
            </div>
            <div class="media-body">
              <h4 class="media-heading">John Doe</h4>
              <p>Lorem ipsum...</p>
            </div>
          </div>
          <div class="media">
            <div class="media-left media-middle">
              <img src="./assets/images/profile-images/no-avatar-female.png" class="media-object" >
            </div>
            <div class="media-body">
              <h4 class="media-heading">John Doe</h4>
              <p>Lorem ipsum...</p>
            </div>
          </div>
          <div class="media">
            <div class="media-left media-middle">
              <img src="./assets/images/profile-images/no-avatar-female.png" class="media-object" >
            </div>
            <div class="media-body">
              <h4 class="media-heading">John Doe</h4>
              <p>Lorem ipsum...</p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
